<div class="container m-4">
  <h1>Ask me SomeThing</h1>

  <div class="container m-4 form-group">
    <form action="answer">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary m-4">
    </form>
  </div>
</div>